<footer>    
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/" id="logout">Logout</a> 
    <script src="/JavaScript/Logout.js"></script>
</footer>
